<div class="list-group position-sticky sticky-top text-center" style="width: 100%">
    <a ng-href="#!/projekty" class="list-group-item list-group-item-action">Projekty</a>
    <a ng-href="#!/sprinty" id="sprint-option" class="list-group-item list-group-item-action">Sprinty</a>
    <a ng-href="#!/zadania" id="task-option" class="list-group-item list-group-item-action">Zadania</a>
    <a ng-href="#!/uczestnicy" id="participant-option" class="list-group-item list-group-item-action" ng-class="disabled">Uczestnicy</a>
</div>