<div id="registerForm">
    <div>
        <form class="form-group" ng-submit="registrationCtrl.registerUser()">
            <h4 class="col-12 mb-5 text-center">Stwórz nowe konto</h4>
            <input type="text" class="form-control col-12 p-3" id="loginInput" placeholder="Login" ng-model="registrationCtrl.user.login" required>
            <input type="email" class="form-control col-12 mt-3 p-3" id="emailInput" placeholder="Email" ng-model="registrationCtrl.user.email" required>
            <input type="password" class="form-control col-12 mt-3 p-3" id="passwordInput" placeholder="Hasło" ng-model="registrationCtrl.user.password" required>
            <button type="submit" class="btn btn-outline-info col-12 mt-3 mb-3">Rejestracja</button>
        </form>
    </div>
</div>